body {
    background-color:gray;
    margin: 0cm;
    padding: 0cm;
}
.box{
    width: 100%;
    padding : 0em;
    width: 100%;
    height: 200px;
    box-sizing: border-box
    
}
#page {
    display: grid;
    width: 100%;
    height: 1100px;
    grid-template-rows:50px auto 30 px ;
    grid-template-columns:150px auto ;
    margin: 0cm;
    padding: 0cm;
  }
  #page > header {
    grid-column: 1 / 3;
    height:125px ;
    background-color: gray;
    border-style:solid;
    border-color: black;
    border-width:4px ;
    margin: 0cm;
    padding: 0cm; 
    position: relative;
  }

  #page > main {
    background-color: rgb(60, 60, 60);
    grid-column: 1/3;
    height: 800px;
    margin: 0cm;
    padding: 0cm;
    border-style:solid;
    border-color: black;
    border-width:4px ;
    position: relative;
  }
moi {
    color: white;
    font-size: 40px;

    
}












li {
    list-style:none !important;
    color:#FFF;
    padding :10px;
    font-size:20px;
    text-decoration:none;
    margin: 0px;
    }
     
    nav ul {
    text-align: center;
    background-color:gray;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
     
    nav ul li {
    text-align: center;
    list-style: none;
    line-height:44px;
    float:left;
    background-color:rgb(66, 66, 66);

    }
     
    nav ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
     
    li a:hover {
    border-bottom:3px #FFF solid;
    }
    nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
     
    nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    }
     
    nav ul li:hover ul li {
    float:none;
    }




    .carre1{
        color: white;
        background-color: rgb(41, 41, 41);
        border-style: solid;
        border-color: black;
        display: block;
        width: auto;
        height: 750px ;
        margin-left: 650px;
        margin-top:15px ;
        margin-bottom:50px ;
        margin-right: 700px;
        border-width: 5px;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 









#page > footer {
    background-color: rgb(41, 41, 41);
    grid-column: 1/3;
    height: 150px;
    margin: 0cm;
    padding: 0cm;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    border-width:5px ;
    color: white;
    position: relative;


}    

a{
    color: white;
}
